<div id="footer-wrapper">
  <div class="container" id="footer">
    <div class="row">
      <section class="6u 12u(narrower)">
        <ul>
          <li>
            <a href="http://www.operationsacademia.org/"
               onclick="ga('send','pageview','logoFooterClicked');">
              <img alt="Operations Academia Logo" class="logoFooter"
                   src="/images/logos/oa_logo_transparent.png"
				   style="width: 160px; height: auto;">
            </a>
          </li>

          <li>
            Trusted by <a href="/previous-markets"
            onclick="ga('send','pageview','universitiesFooterLeftClicked');"
            style="color:black; text-decoration:none;">over 200 universities around the world</a>.
          </li>

          <li>
            Made with <i class="fa fa-coffee"></i> in
            <a href="http://www.thisisathens.org/" onclick="ga('send','pageview','athensFooterWasClicked');" style="color:black; text-decoration:none;">Athens</a>,
            <a href="https://www.visitcharlottesville.org/" onclick="ga('send','pageview','CvilleFooterWasClicked');" style="color:black; text-decoration:none;">Charlottesville</a>,
            <a href="https://www.visitdublin.com/" onclick="ga('send','pageview','DublinFooterWasClicked');" style="color:black; text-decoration:none;">Dublin</a>,
            <a href="https://www.nytimes.com/2016/10/02/travel/fontainebleau-france-architecture.html" onclick="ga('send','pageview','FontyFooterWasClicked');" style="color:black; text-decoration:none;">Fontainebleau</a>
            and
            <a href="http://www.visitsingapore.com/en/" onclick="ga('send','pageview','SingyFooterWasClicked');" style="color:black; text-decoration:none;">Singapore</a>.
            <br>
            <i class="fa fa-heart" aria-hidden="true"></i>
            Sponsored by
<a class="cuhk-text" href="https://www.bschool.cuhk.edu.hk/departments/decisions-operations-and-technology/"
   onclick="ga('send','pageview','cuhkFooterWasClicked');">CUHK DOT Department</a>
and
<a class="msom-text" href="https://connect.informs.org/msom/home"
   onclick="ga('send','pageview','msomSocietyFooterWasClicked');">INFORMS MSOM Society</a>.

          </li>

          <li><br></li>

          <li>
            &copy; 2014-<span class="js-current-year"></span>.
            <a href="http://www.stouras.com/" style="color:black; text-decoration:none;">Konstantinos I. Stouras</a>
          </li>
        </ul>
      </section>

      <section class="2u 12u(narrower)">
        <header><h2>Discover</h2></header>
        <ul>
          <li><a class="box-no-padding" href="/jobs" onclick="ga('send','pageview','jobsFooterWasClicked');">Job postings</a></li>
          <li><a class="box-no-padding" href="/candidates" onclick="ga('send','pageview','candidatesFooterWasClicked');">Candidates</a></li>
          <li><a class="box-no-padding" href="/placements" onclick="ga('send','pageview','placementsFooterWasClicked');">Placements</a></li>
          <li><a class="box-no-padding" href="/survey" onclick="ga('send','pageview','surveyFooterWasClicked');">Survey</a></li>
          <li><a class="box-no-padding" href="/resources-for-candidates" onclick="ga('send','pageview','resources-for-candidatesFooterWasClicked');">Resources</a></li>
          <li><a class="box-no-padding" href="/universities" onclick="ga('send','pageview','universitiesFooterWasClicked');">Universities</a></li>
          <li><a class="box-no-padding" href="/recent-faculty" onclick="ga('send','pageview','recent-facultyFooterWasClicked');">Recent Faculty in Operations</a></li>
        </ul>
      </section>

      <section class="2u 12u(narrower)">
        <header><h2>Site</h2></header>
        <ul>
          <li><a class="box-no-padding" href="https://operationsacademia.wordpress.com" onclick="ga('send','pageview','blogFooterWasClicked');">Blog</a></li>
          <li><a class="box-no-padding" href="http://a.co/ev61V45" onclick="ga('send','pageview','donateFooterWasClicked');">Donate (in books)</a></li>
          <li><a class="box-no-padding" href="/analytics" onclick="ga('send','pageview','analyticsFooterWasClicked');">Analytics</a></li>
          <li><a class="box-no-padding" href="/faqs" onclick="ga('send','pageview','faqsFooterWasClicked');">FAQs</a></li>
          <li><a class="box-no-padding" href="https://operationsacademia.uservoice.com/" onclick="ga('send','pageview','feedbackFooterWasClicked');">Feedback</a></li>
          <li><a class="box-no-padding" href="/contact" onclick="ga('send','pageview','contactFooterWasClicked');">Contact</a></li>
        </ul>
      </section>

      <section class="2u 12u(narrower)">
        <header><h2>Legal</h2></header>
        <ul>
          <li><a class="box-no-padding" href="/terms-and-conditions" onclick="ga('send','pageview','terms-and-conditionsFooterWasClicked');">Terms and conditions</a></li>
          <li><a class="box-no-padding" href="/privacy-policy" onclick="ga('send','pageview','privacy-policyFooterWasClicked');">Privacy policy</a></li>
        </ul>
      </section>
    </div>
  </div>
</div>
